.container_result_analysis{
    margin: 40px auto;
    width: 75%;
}
.card{
    margin-bottom: 20px;
    padding: 0 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: solid 0!important;
    border-radius: 8px;
}
#id_Datasets{
    list-style-type: none;
}
#id_Columns{
    list-style-type: none;
}
.container_analysis_list{
    margin: 40px auto;
}
.cor_list_available_datasets{
    margin: 40px auto;
}
.dataset_detail{
    margin: 40px auto;
}
.card-scroll {
    max-height: 300px;
}
.btn:focus, .btn:active {
  box-shadow: none !important;
}
.container_analysis_type{
    padding: 0;
}

.result_statistics{
    padding: 0px;
}
label {
  margin-right: 15px;
}
.card-dictionary .card-body {
    padding: 0;
}
