
.feedback{
        position:absolute;
        right: 0px;
        top:80px;
        width: 320px;
        padding: 10px;
        background-color: #3B3B3B;
        border-bottom-left-radius: 12px;
        color: white;
}
