.container_statistics{
    margin: 40px auto;
    width: 75%;
}
.container_analysis{
    margin: 40px auto;
    width: 75%;
}
#result{
    padding: 0;
}

.card-text-dictionary{
    font-size:15px;
}
.card-info{
    margin-right:10px;
    margin-bottom: 20px
}
.card-detail{
    margin: 0 10px;
}
#info{
    padding: 0;
}
.container_result_analysis{
    margin:auto;
}
.result_statistics{
    height: 500px;
}
.container_result_statistics{
    margin-right: auto;
    margin-left: auto;
}

.card-scroll {
    max-height:300px;
}
label {
    margin-right: 15px;
}

.btn:focus, .btn:active {
    box-shadow: none !important;
}
.statistics-list{
    max-height: 300px;
}
.statistics-lst{
    max-height: 300px;
}
.nav{
    padding: 25px 0 0!important;
}
.me-3{
    display: flex;
    justify-content: center;
    margin-left: 1em!important;

}

.nav-pills .nav-link {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #768298;
    letter-spacing: 0.03em;
}
