.container_statistics{
    margin: 40px auto;
    width: 63%;
}
.container_analysis{
    margin: 40px auto;
    width: 63%;

}
#result{
    padding: 0;

}
.container-dictionary{
    position:fixed;
    width: 16%;
    top: 120px;
    right: 20px;


}
.card-text-dictionary{
    font-size:13px;
}
.card-info{
    margin-bottom: 20px
}
.card-detail{
    margin: 0 10px;
}
#info{
    padding: 0;

}
#result-detail{margin: 0 15px;}
#info-detail{margin: 0 15px;}
.container_result_analysis{
    margin:auto;
}
.result_statistics{
    height: 500px;
}
.container_result_statistics{
    margin-right: auto;
    margin-left: auto;
}

.card-scroll {
    max-height:300px;
}
label {
    margin-right: 15px;
}

.btn:focus, .btn:active {
    box-shadow: none !important;
}
.statistics-list{
    max-height: 300px;
}
.statistics-lst{
    max-height: 200px;
}

@media screen and (max-width:970px) {
    .container-dictionary{
        top:100px;
        width: 14%;
    }
    .container-dictionary h6{
        font-size: 12px;
    }
    .card-text-dictionary{
        font-size:12px;
    }
    .button-dictionary{
        font-size:13px;
    }
}
@media screen and (max-width:829px) {
    .container_statistics{
        margin-top:110px;
    }
    .container-dictionary{
        position: relative;
        top: auto;
        margin: 30px auto;
        right: auto;
        height: 50px;
        width: 63%;
    }
    .container-dictionary h6{
        font-size: 16px;
    }
    .container-dictionary .card{
        box-shadow: none;
    }
        .container-dictionary .card .card-body{

    }
    .card-text-dictionary{
        font-size:14px;}
}

@media screen and (max-width:489px) {
        .container_statistics{
        margin-top:140px;
    }
        .button-dictionary{
        font-size:12px;
    }
}