.map__hint {
    padding: 20px;
    min-height: 55px;
    min-width: 195px;
    font-size: 20px;
    line-height: 1;
    color: black;
    background-color: #ffffff;
}
.ymaps-2-1-78-balloon__close-button{
    width: 15px;
    height: 15px;
}

.inner{
    display:flex;
    padding-left: 10px;
    padding-right: 10px;
}
.lang {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3B3B3B;
    width: 90px;
    height: fit-content;
    border-radius: 8px;
    margin-top: 20px;
    margin-left:60px;
}
.lang select{
    width: 100%;
    color: white;
    background-color: #3B3B3B;
    text-align: center;
    padding: 8px 10px;
    border:none;
    font: 13px Roboto, sans-serif;
}
.lang img
{
    width: 25px;
    height: 25px;

}
.t2 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

.container3 {
    padding: 0 10px;
}

.container2{
    position: relative;
    margin-top: 20px;
    padding: 0 10px 10px 10px;
    background-color: white;
    width: 100%;
}

