{% extends "base.html" %}

{% block content %}
<div class="container emp-profile">
    <div class="row">
        <div class="col-md-2">
            <div class="profile-work">
                {% if   user.is_authenticated %}
                <p>HOME</p>
                <a href="{% url 'index' %}">Profile</a>

                <p>RECEIVED DATASETS</p>

                <a href="{% url 'my-borrowed' %}">My Datasets</a><br/>
                <a href="{% url 'my-requests' %}">My Requests</a><br/>
                {% endif %}
                {% if user.is_staff %}
                <p>STAFF</p>
                {% if perms.catalog.can_mark_returned %}
                <a href="{% url 'books' %}">All Datasets</a><br/>
                <a href="{% url 'all-borrowed' %}">All Borrowed</a><br/>
                {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="col-md-4">
            <div class="profile-head"><h5><b>{{ book.title }}</b></h5></div>
            <hr>
            <p><strong>Author:</strong> <a>{{ book.author }}</a></p>
            {%  if bool.summary %} <p><strong>Description:</strong> {{ book.summary }}</p> {% else %} {% endif %}
            <a type="submit" value="Submit" class="btn  btn-outline-primary  mt-2" href="/media/{{book.specifications}}" download>Download archive</a>
            <div style="margin-left:20px;margin-top:20px">
            </div>
        </div>
    </div>
</div>

<div class="container">

</div>
{% endblock %}