{% extends "base.html" %}

{% block content %}
<style>
    label {
  margin-right: 15px;
}
    .list-group{
        overflow-y:scroll; overflow-x:hidden; max-height: 300px
    }
</style>
<div class="container emp-profile">
    <div class="row">
        <div class="col-md-2">
            <div class="profile-work">
                {% if   user.is_authenticated %}
                <p>HOME</p>
                <a href="{% url 'index' %}">Profile</a>

                <p>RECEIVED DATASETS</p>

                <a href="{% url 'my-borrowed' %}">My Datasets</a><br/>
                <a href="{% url 'my-requests' %}">My Requests</a><br/>
                {% endif %}
                {% if user.is_staff %}
                <p>STAFF</p>
                {% if perms.catalog.can_mark_returned %}
                <a href="{% url 'books' %}">All Datasets</a><br/>
                <a href="{% url 'all-borrowed' %}">All Borrowed</a><br/>
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-5">
            <div class="card-body"></div>
            <h5 class="card-title">Available datasets</h5>
            <hr>
            {% if bookinstance_list %}
            {% csrf_token %}
            <div class="list-group">
                {% for bookinst in bookinstance_list %}
                <label class="list-group-item ">
                    <a style="text-decoration: none" href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a>
                </label>
                {% endfor %}
            </div>
            {% else %}
            <p class="text-success">There are no available datasets</p>
            {% endif %}
        </div>
    </div>
</div>

</div>

{% endblock %}