{% extends "base.html" %}

{% block content %}
<div class="container emp-profile">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="profile-work">
                                        {% if   user.is_authenticated %}
                                        <p>HOME</p>
                                        <a href="{% url 'index' %}">Profile</a>

                                        <p>RECEIVED DATASETS</p>

                                        <a href="{% url 'my-borrowed' %}">My Datasets</a><br/>
                                        <a href="{% url 'my-requests' %}">My Requests</a><br/>
                                          {% endif %}
                                        {% if user.is_staff %}
                                        <p>STAFF</p>
                                        {% if perms.catalog.can_mark_returned %}
                                        <a href="{% url 'books' %}">All Datasets</a><br/>
                                        <a href="{% url 'all-borrowed' %}">All Borrowed</a><br/>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                </div>

  <div class="col-md-4">
      <div class="profile-head"><h5><b>Datasets List</b></h5></div>
      <hr>
    {% if book_list %}
    <ul class="list-group">
        {% for book in book_list %}
    <li class="list-group-item"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})</li>
        {% endfor %}
    </ul>
    {% else %}
      <p class="text-success">There are no datasets in the data</p>
    {% endif %}

  </div>
    </div>

</div>
{% endblock %}

<div class="container emp-profile">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="profile-work">
                                        {% if   user.is_authenticated %}
                                        <p>HOME</p>
                                        <a href="{% url 'index' %}">Profile</a>

                                        <p>RECEIVED DATASETS</p>

                                        <a href="{% url 'my-borrowed' %}">My Datasets</a><br/>
                                        <a href="{% url 'my-requests' %}">My Requests</a><br/>
                                          {% endif %}
                                        {% if user.is_staff %}
                                        <p>STAFF</p>
                                        {% if perms.catalog.can_mark_returned %}
                                        <a href="{% url 'books' %}">All Datasets</a><br/>
                                        <a href="{% url 'all-borrowed' %}">All Borrowed</a><br/>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                </div>

  <div class="col-md-4">
      <div class="profile-head"><h5><b>Datasets List</b></h5></div>
      <hr>


    {% if book_list %}
    <ul class="list-group">
        {% for book in book_list %}
    <li class="list-group-item"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})</li>
        {% endfor %}
    </ul>
    {% else %}
      <p class="text-success">There are no datasets in the data</p>
    {% endif %}

  </div>
    </div>

</div>