{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags %} {% load i18n %}
<head>
    <title>{% page_attribute 'page_title' %} · AVA</title>
    <meta charset="UTF-8">
</head>
<body>
{% block content %}
<div class="container emp-profile">
    <div class="row row-head">
        <div class="col-md-2">
            <div class="profile-work">
                {% if   user.is_authenticated %}
                <p>HOME</p>
                <a href="{% url 'index' %}">Profile</a>
                <p>RECEIVED DATASETS</p>
                <a href="{% url 'my-borrowed' %}">My Datasets</a><br/>
                <a href="{% url 'my-requests' %}">My Requests</a><br/>
                {% endif %}
                {% if user.is_staff %}
                <p>STAFF</p>
                {% if perms.catalog.can_mark_returned %}
                <a href="{% url 'books' %}">All Datasets</a><br/>
                <a href="{% url 'all-borrowed' %}">All Borrowed</a><br/>
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-3">
            <div class="profile-img">
                {% if user.profile.photo %} <img class="round" src="/media/{{ user.profile.photo }}" style="height:200px; width:200px" alt=""/>
                {% else %} <img class="round" src="https://2004000.ru/common/i/empty_staff.png" style="height:200px; width:200px" alt=""/> {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5>
                    Welcome, {% if user.get_full_name %} {{ user.get_full_name }} {% else %} {{ user.get_username }} {% endif %}!
                </h5>
                <h6>
                    {% if user.profile.organization %}{{ user.profile.organization }}, {{ user.profile.position }} {% endif %}
                </h6>
                <br>
                <br>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Edit</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-md-7 ">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Login:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ user.get_username }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Email:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ user.email }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Name:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{% if user.first_name and user.last_name %} {{ user.first_name }} {{ user.last_name }} {% else %} . . . {% endif %}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Organization:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{% if user.profile.organization %} {{ user.profile.organization }} {% else %} . . . {% endif %}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Position:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{% if user.profile.position %} {{ user.profile.position }} {% else %} . . . {% endif %} </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <p>You can edit your account using the following form:</p>
                    <div class="row">
                        <div class="col-md-12">
                            <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ user_form.as_p}}
                                    </div>
                                    <div class="col-md-4">
                                        {{ profile_form.as_p }}
                                    </div>
                                    {% csrf_token %}
                                </div>
                                <p> <button type="submit" value="Submit" class="btn btn-outline-primary mt-2">Save changes</button></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>